n8n-partners-visitas.json
{
  "name": "Partners - Visitas GA4 -> Supabase",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-8h",
      "name": "Todo dia as 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://analyticsdata.googleapis.com/v1beta/properties/542188967:runReport",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"dateRanges\": [{ \"startDate\": \"2020-01-01\", \"endDate\": \"today\" }],\n  \"metrics\": [{ \"name\": \"activeUsers\" }]\n}",
        "options": {}
      },
      "id": "ga4-runreport",
      "name": "GA4 - activeUsers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Conta de Serviço - n8n"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wdkcuoydbjkeoyslpbpv.supabase.co/rest/v1/dashboard_state?id=eq.main&select=data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indka2N1b3lkYmprZW95c2xwYnB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1OTI2MDMsImV4cCI6MjA4NDE2ODYwM30.WROw47VDb3OEQ-zPDhAQEsEvzWz6ZKqFoCNdwm-SFSs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indka2N1b3lkYmprZW95c2xwYnB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1OTI2MDMsImV4cCI6MjA4NDE2ODYwM30.WROw47VDb3OEQ-zPDhAQEsEvzWz6ZKqFoCNdwm-SFSs"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pgrst.object+json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-state",
      "name": "Buscar dashboard_state",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pega o total de activeUsers do GA4 (sem dimensao = 1 linha com o total)\nconst ga = $('GA4 - activeUsers').first().json;\nconst visitas = parseInt(ga?.rows?.[0]?.metricValues?.[0]?.value ?? '0', 10) || 0;\n\n// Pega o estado atual completo para nao sobrescrever os outros campos\nconst state = ($('Buscar dashboard_state').first().json.data) || {};\nif (!state.pt) state.pt = {};\nif (!state.pt.f) state.pt.f = {};\n\n// Atualiza apenas pt.f.vis\nstate.pt.f.vis = visitas;\n\nreturn [{ json: { data: state, updated_at: new Date().toISOString(), visitas } }];"
      },
      "id": "merge-vis",
      "name": "Merge pt.f.vis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://wdkcuoydbjkeoyslpbpv.supabase.co/rest/v1/dashboard_state?id=eq.main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indka2N1b3lkYmprZW95c2xwYnB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1OTI2MDMsImV4cCI6MjA4NDE2ODYwM30.WROw47VDb3OEQ-zPDhAQEsEvzWz6ZKqFoCNdwm-SFSs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indka2N1b3lkYmprZW95c2xwYnB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1OTI2MDMsImV4cCI6MjA4NDE2ODYwM30.WROw47VDb3OEQ-zPDhAQEsEvzWz6ZKqFoCNdwm-SFSs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"data\": $json.data, \"updated_at\": $json.updated_at } }}",
        "options": {}
      },
      "id": "patch-state",
      "name": "Salvar no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Todo dia as 8h": {
      "main": [
        [
          {
            "node": "GA4 - activeUsers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 - activeUsers": {
      "main": [
        [
          {
            "node": "Buscar dashboard_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar dashboard_state": {
      "main": [
        [
          {
            "node": "Merge pt.f.vis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge pt.f.vis": {
      "main": [
        [
          {
            "node": "Salvar no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "tags": []
}
